@import "colors.less";

@background: @devpad_light;
@foreground: @devpad_dark;

@shadow-pos: 0px;
@shadow-size: 5px;

/* Code Styling */
.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
    font-weight: bold;
    color: @devpad_light_gray;
}

.CodeMirror-code{
    background-image: url('file:///home/mkowalski/.config/Brackets/extensions/user/devpad.brackets.theme/subtle_grunge.png');
}

.CodeMirror-scroll{
//    background-color: transparent;
}

.CodeMirror-lines {
    line-height: 1.4em;
}

.CodeMirror-activeline{
//    line-height: 2em;
//    font-size: 20px;
}

.CodeMirror-activeline-background {
//    background-color: transparentize(@devpad_very_light, 0.5);
    background-color: @devpad_very_light;
}

.cm-lkcampbell-indent-guides,
.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides  ~
.cm-lkcampbell-indent-guides  ~ .cm-lkcampbell-indent-guides{
    background-image: none;
    border-left: dashed 1px @devpad_super_light_gray;
    margin-left: -1px;
}

.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides ~
.cm-lkcampbell-indent-guides,
.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides ~
.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides ~
.cm-lkcampbell-indent-guides{
    border-color: @devpad_gray;
}

.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides ~
.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides ~
.cm-lkcampbell-indent-guides ~ .cm-lkcampbell-indent-guides {
    background-image: none;
    border-left: dotted 2px orange;
    margin-left: -2px;
}

.cm-hr, .cm-attribute, .cm-property,
.cm-plus, .cm-def, .cm-variable-2, .cm-variable-3,
.cm-operator, .cm-meta, .cm-bracket, .cm-error, .cm-minus,
.cm-header, .cm-link, .cm-rangeinfo, .cm-qualifier, .cm-builtin,
.cm-quote, .cm-comment, .cm-string, .cm-string-2, .cm-number, .cm-atom,
.cm-atom, .cm-keyword, .cm-variable, .cm-tag {
    color: @foreground;
    font-weight: normal;
}

.CodeMirror-gutter-wrapper {
    font-weight: normal;
    background-color: darken(@devpad_light, 10%);
}

.cm-comment{
    color: @devpad_light_gray;
}

.cm-string, .cm-string-2, .cm-number{
    color: @devpad_constant;
}

.cm-keyword{
    color: @devpad_key;
    font-weight: bold;
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    background-color: orange;
    border: none;
}

.CodeMirror-activeline {
    .cm-matchhighlight {
        border-bottom: dotted @devpad_light_gray 2px;
        text-shadow: none;
        font-weight: normal;
        top:0px;
        left: 0px;
        &.cm-keyword {
            font-weight: bold;
        }
    }
}

.cm-matchhighlight {
    background-color: transparent;
    border: none;
    top: -3px;
    left: -3px;
    position: relative;
    border: none;
    font-weight: bold;
    text-shadow:
        1px 0px 0px white,
        1px 1px 0px white,
        -1px 1px 0px white,
        -1px -1px 0px white,
        3px 3px 4px #333333;
}
